@using System.ServiceModel.Configuration
@model IEnumerable<Web.Models.MedicalPathViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BackOfficeLayout.cshtml";

}





<div class="page-content-wrapper">

    <div class="page-content">
        <div class="page-bar">
            <div class="page-title-breadcrumb">
                <div class=" pull-left">
                    <div class="page-title">My Medical Paths</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li>
                        <i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="#">My medical Paths</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a class="parent-item" href="#">All Paths</a>&nbsp;<i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Paths</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-topline-red">
                    <div class="card-head">
                        <header></header>
                        <div class="tools">
                            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="btn-group">
                                    <a href="/MedicalPath/Create" class="btn btn-info">
                                        Add new <i class="fa fa-plus"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="btn-group pull-right">
                                    <a class="btn deepPink-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">
                                        Tools
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-print"></i> Print
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-pdf-o"></i> Save as PDF
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-file-excel-o"></i> Export to Excel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="table-scrollable">
                            <table class="table table-hover table-checkable order-column full-width" id="example4">
                                <thead>
                                    <tr>
                                        <th>Path N°</th>
                                        <th>justification</th>
                                        <th>Active </th>
                                        <th> Date RDV </th>
                                        <th> Creation Date </th>
                                        <th> Status </th>
                                        <th> Patient Email </th>
                                        <th>Doc° assigned</th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">


                                        @foreach (var j in ViewBag.result)
                                        {
                                            <td class="center">@j.id</td>
                                            <td class="center">@j.justification</td>
                                            if (@j.active == false)
                                            {
                                                <td class="center">Disabled</td>
                                            }

                                            else
                                            {
                                                <td class="center">Enabled</td>
                                            }
                                            DateTime dtDateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc)
                                                .AddMilliseconds(@j.rendezVous.dateRDV).ToLocalTime();
                                            <td class="center">

                                                @dtDateTime.ToString("d")
                                            </td>
                                            DateTime dtDateTime1 = new DateTime(1970, 1, 1, 0, 0, 0, 0, System.DateTimeKind.Utc)
                                                .AddMilliseconds(@j.createdAt).ToLocalTime();
                                            <td class="center">
                                                @dtDateTime1.ToString("d")
                                            </td>

                                            if (@j.status == true)
                                            {

                                                <td class="center"><button type="button" class="btn btn-circle btn-warning">Completed</button></td>
                                            }

                                            else
                                            {
                                                <td class="center"><button type="button" class="btn btn-circle btn-warning">InProgress</button></td>
                                            }
                                            <td class="center">

                                                <a href="mailto:@j.rendezVous.users.email">
                                                    @j.rendezVous.users.email
                                                </a>
                                            </td>

                                            <td class="center">
                                                <button data-toggle="button" class="btn btn-primary" value="Assign"
                                                        data-pathdoctor="@Json.Encode(j.doctorPath)" onclick="showDocs(this)">
                                                    <i class="fa fa-user "></i> @j.doctorPath.Count
                                                </button>
                                            </td>

                                            if (@j.active == true)
                                            {
                                                <td>
                                                    <a class="btn btn-primary btn-xs" onclick="a()">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a href="/MedicalPath/addDoctorsTo/@j.id" title="Add doctors to the patient path" class="btn btn-success btn-xs">
                                                        <i class="fa fa-plus "></i>
                                                    </a>
                                                </td>

                                            }
                                            else
                                            {
                                                <td hidden="true">
                                                    <a class="btn btn-primary btn-xs">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-success btn-xs">
                                                        <i class="fa fa-plus "></i>
                                                    </a>
                                                </td>
                                            }

                                        }

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------MODAL display doctors in path-->
<!-- Modal: modalQuickView -->
<div class="modal fade" id="DocInPath" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-keyboard="false" data-backdrop="static" style="margin-top: 10em">
    <div class="modal-dialog col-md-6 col-sm-6 " role="document">


        <div class="modal-content">

            <div class="card-head">
                <header>DOCTORS LIST</header>
                <div class="tools">
                    <a class="t-close btn-color fa fa-times" data-dismiss="modal"></a>
                </div>
            </div>
            <div class="card-body no-padding height-9">
                <div class="row">
                    <ul class="docListWindow" id="contentOfDoc"></ul>

                </div>
            </div>
        </div>
    </div>


</div>

<!--------end Modal -->
<!-- Top Right  -->
<div class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="visit">
    <div class="modal-dialog modal-side modal-top-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Medical Visit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-topline-aqua">
                    <div class="card-body no-padding height-9">

                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name"> Jayna Patil </div>
                            <div class="profile-usertitle-job"> Nurse </div>
                        </div>
                        <ul class="list-group list-group-unbordered" id="visitcontent"></ul>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <div class="profile-userbuttons">
                            <button type="button" class="btn btn-circle deepPink-bgcolor btn-sm">Follow</button>
                            <button type="button" class="btn btn-circle red btn-sm">Message</button>
                        </div>
                        <!-- END SIDEBAR BUTTONS -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function a() {
            swal(
                'Good job!',
                'You clicked the button!',
                'success'
            );
        }

        function showDocs(elem) {
            var id = $(elem).data('pathdoctor'), htmlContent = "";

            console.log(id);

            id.map(e => {
                htmlContent += `<li>
            <div class="prog-avatar">
            <img src= "` +
                    e.doctor.UrlPhoto +
                    `" alt="">
            </div>
            <div class="details">
            <div class="doctitle">
            <a href="#">` +
                    e.doctor.firstName +
                    " " +
                    e.doctor.firstName +
                    `</a> (` +
                    e.doctor.speciality +
                    `)&nbsp &nbsp &nbsp
                <a class ="btn btn-primary btn-xs" title="medical visit" id= "` +
                    e.medicalVisit.id +
                    `" value= "` +
                    e.medicalVisit.description +
                    `"
                onclick= "showVisit(` +
                    e.medicalVisit.createdAt +
                    `,` +
                    e.medicalVisit.medicalState +
                    `,'` +
                    e.medicalVisit.des +
                    `')" >
                <i class ="fa fa-bookmark"></i>
                </a>
            </div>
              <div>

            <span class ="doctitle">Order In Path: ` +
                    " " +
                    e.ordre +
                    `</span>
            </div>
            <div>

            <span class ="clsAvailable">` +
                    e.doctor.email +
                    `
                </span>
            </div>

            </div>
            </li>`
            });
            $("#contentOfDoc").html(htmlContent);


            $('#DocInPath').modal();
        }

        function showVisit(elem1, elem2, id) {
            console.log(elem1);
            var i = id;
            console.log(id);

            //r description = " ";
            console.log("" + elem2 + "");

            var htmlContent = `<li class="list-group-item">
           <b> Description </b> <a class="pull-right">` +
                id +
                `</a>
           </li>
           <li class="list-group-item">
           <b>Medical State</b> <a class="pull-right">` +
                elem2 +
                `</a>
           </li>
           <li class="list-group-item">
           <b>Date of Creation</b> <a class="pull-right">` +
                elem1 +
                `</a>
           </li>`
            $('#visitcontent').html(htmlContent)
            $('#visit').modal();


        }

    </script>
}